{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
    <link rel="stylesheet" href="{% static 'login/safelab.css' %}">
</head>
<body>

    <h1><a href="{%url 'cpanel'%}">SafeLab.</a> Others</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Volume</th>
                    <th>Containers</th>
                    <th>Observation</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.vol}}</td>
                    <td>{{data.container}}</td>
                    <td><span class="status available">{{data.Observation}}</span></td>
                    <td>{{data.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>