{% load static %}
<!DOCTYPE html>
<html lang="es-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataLab - Registro</title>
    <link rel="stylesheet" href='{% static "login/register.css" %}'>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <img src="logo.png" alt="DataLab Logo" class="logo">
            <h1>Regístrate en <span>DataLab</span></h1>
            <p>Crea tu cuenta para comenzar a analizar datos.</p>
        </div>
        <form class="login-form" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nombre de usuario</label>
                {{ form.username }} 
                
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirmar contraseña</label>
                {{ form.confirm_password }}
            </div>
            <div><p>{{form.error}}</p></div>
            <button type="submit" class="login-button">Registrarse</button>
            <div class="login-links">
                <a href= "/">¿Ya tienes una cuenta? Inicia sesión</a>
            </div>
        </form>
    </div>
</body>
</html>